#menu-primary {
  .menu-principal {
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    display: flex;
    background: linear-gradient(to right, #1d1d1f 0%, #474747 50%, #1d1d1f 100%);
  }

  .image-contenedor-header {
    width: 180px;
    min-width: 150px;
    position: relative;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 13px;
    z-index: 99;
  }

  .navbar-burger{
    display: none;
  }

  .menu-menu-primario-container {
    width: 100%;
    position: absolute;
    text-align: right;
    top: 30px;
    padding-right: 3%;
  }
  .menu-responsive {
    width: 100%;
    z-index: 999999999;
    position: fixed;
    text-align: right;
    top: 15px;
    padding-right: 3%;
    display: none
  }
  .sage-menu {
    .menu-item {
      display: inline-block;
      padding: 0px 12px;
      font-size: 12px;
      text-transform: uppercase;
    }

    a {
      color: white;
      transition: 0.5s;

      &:hover{
        color: $amarillo;
        transition: 0.5s;
      }
    }

    #menu-item-21 {
      background: white;
      color: black;
      border-radius: 5px;
      padding: 7px 12px;
      transition: .5s;

      a {
        color: black;
        transition: .5s;
      }
      
      &:hover{
        background: $amarillo;
        transition: .5s;
        a {
          color: white;
        }
      }
    }
  }

  @media only screen and (max-width:768px) {
    .menu-menu-primario-container{
      display: none;
    }

    .navbar-burger{
      display: block;
      color: #fff;
      position: relative;
      right: 0;
      z-index: 99999999999999999999;
      margin-top: 18px;
      transform: scale(1.8);

      &:hover {
        color: $amarillo;
      }
    }
  }
}
@media only screen and (max-width:768px) {
  .navbar-burger{
    display: block;
    color: #fff;
    position: fixed;
    right: 0;
    z-index: 9999;
    margin-top: 18px;
    transform: scale(1.8);

    &:hover {
      color: $amarillo;
    }
  }
}
.menu-responsive {
  display: none;
  .menu-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: $degradado-circulo;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

    .nav-mobile{
      text-align: center;
    }
    .img-menu {
      width: 200px;
      height: 60px;
      align-content: center;
    }
    li {
      padding: 20px;
      color: white;

      a{
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        transition: 0.5s;
        &:hover{
          color: $amarillo;
          transition: 0.5s;
        }

      }
    }
  }
}
