.contenedor-padre-servicios{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    .contenedor-title-servicios{
        width: 80%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        padding: 40px;

        h3{
            font-size: 45px;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-bottom: 2vh;
        }
    
        p{
            letter-spacing: 2px;
            font-size: 16px;
        }
    }
    .contenedor-botones-servicios {
        position: relative;
        padding-bottom: 15px;
        padding-left: 101px;
        margin-top: 20px;

    
      .boton-amarillo {
        padding: 23px 30px;
        color: #474747;
        font-weight: 600;
        font-size: 15px;
        transition: .5s;
        
        &:hover{
          transition: 0.5s;
          background: $amarillo;
          color: white;
        }
        &.active-amarillo{
            transition: 0.5s;
            background: $amarillo !important;
            color: white !important;
        }
      }
    
      .boton-gris {
        padding: 23px 30px;
        color: #474747;
        font-weight: 600;
        font-size: 15px;
        transition: .5s;
        &:hover{
          transition: 0.5s;
          background: $gris;
          color: white;
        }
        &.active-gris{
            transition: 0.5s;
            background: $gris !important;
            color: white !important;
        }
      }
    }


    .contenedor-abuelo-tarjeta{
        position: relative;
        width: 100%;
        height: auto;
    .conte-servicios{
        padding: 30px 90px 0px 90px;
        position: relative;

        .contenedor-padre-tarjeta{
            position: relative;
            padding-bottom: 80px;

            .contenedortarjeta {
                height: auto;
                max-width: 300px;
                border-radius: 6px;
                box-shadow: 0 7px 21px rgba(0, 0, 0, .5);
                margin: 0 auto;
                transition: 0.5s;
                position: relative;
                padding: 0;

                &:hover{
                    transform: scale(1.03);
                    transition: 0.5s
                }
            
                .contenido-pasos{
                padding: 30px;
                height: 280px;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-bottom: 8px;

                }
                p {
                    font-size: 12px;
                    padding-bottom: 15px;
                }
                .boton-registrar {
                    padding: 6px 0px;
                    position: absolute;
                    bottom: 24px;
                    width: 55%;
                    text-align: center;
                    color: white;
                    background: $degradado-amarillo;
                    font-weight: 600;
                    font-size: 12px;
                    border-radius: 5px;
                    background-position: center;
                    background-size: 200px;
                    transition: 0.5s;
                    display: block;
                
                    &:hover{
                        transition: 0.5s;
                        transform: scale(1.03);
                    }
                    }
                }
            }
        }
    }
    }
}
@media only screen and (max-width: 915px){
    .contenedor-padre-servicios {
        .conte-servicios{
            .contenedor-padre-tarjeta{
                .contenedortarjeta{
                    .contenido-pasos {
                        height: 300px;
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width: 880px){
    .contenedor-padre-servicios {
        .conte-servicios{
            .contenedor-padre-tarjeta{
                .contenedortarjeta{
                    .contenido-pasos {
                        height: 320px;
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width: 768px){
    .contenedor-padre-servicios {
        .contenedor-title-servicios{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 12px;
            }
        } 
        .conte-servicios{
            padding: 50px !important;
            .contenedor-padre-tarjeta{
                .contenedortarjeta{
                    .contenido-pasos {
                        height: 330px;
                    }
                }
            }
        }
    } 
    .contenedor-padre-conocer-nuestro-servicios{
        .contenedor-title-nuestro-servicio{
            h3{
                font-size: 20px !important;
            }
        } 
    } 
}
@media only screen and (max-width: 440px){
    .contenedor-padre-servicios {
        .contenedor-abuelo-tarjeta {
            .conte-servicios{
                .contenedor-padre-tarjeta{
                    .contenedortarjeta{
                        .contenido-pasos{
                            height: 165px !important;
                            p{
                                display: none;
                            }
                        } 
                    }
                }
            }
        }   
        .contenedor-botones-servicios {
            padding-left: 20px;
            .boton-amarillo{
                padding: 23px 17px;
            }
            .boton-gris{
                padding: 23px 17px;   
            }
        }
    } 
}
