.contenedor-padre-nuestros-servicios {
  background: linear-gradient(to right, rgba(29,29,31,1) 0%, rgba(71,71,71,1) 50%, rgba(29,29,31,1) 100%);
  padding: 5%;
  border-top: 2px solid white;
  
  .contenedor-title-nuestro-servicios {
    text-align: center;
    width: 80%;
    color: white;
    margin: 0 auto;
    margin-top: 3vh;
    letter-spacing: 2px;
  
    h2{
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p{
      font-size: 16px;
      padding-top: 16px;
      padding-bottom: 15px;
    }
  }
  .contenedor-padre-tarjetas-servicios{
    margin-top: 3vh;

    .tarjeta-grande {  
        height: 438px;
        padding: 0 !important;
        overflow: hidden;
        position: relative;
        transition: 0.5s;

      &:hover{
        .contenedor-contenido-servicio {
          height: 180px;
          transition: 0.5s;
        }
      } 

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 440px;
        width: 105%;
        transform: translate(-50%,-50%);
        text-align: center;
        background-color: rgba(0,0,0,.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
      }

      .contenedor-contenido-servicio {
        padding-left: 38px;
        bottom: 26px;
        position: absolute;
        color: white;
        width: 350px;
        height: 45px;
        overflow: hidden;
        transition: 0.5s;
        z-index: 2;

        .contenedor-title-grande{
            position: relative;

          .contenedortitle{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 118px;
                height: 6px;
                background: linear-gradient(to right, #775218 0%, #d0a238 50%, #775218 100%);
            }
          }
        }
        .extracto-tarjeta-grande{
            font-weight: 400;
            font-size: 12px;
            padding-bottom: 15px;
            padding-top: 20px;
        }
        .contenedor-boton-tarjeta{
            position: relative;

          .boton-tarjeta{
            padding: 6px 15px;
            color: white;
            background: linear-gradient(to right, #775218 0%, #d0a238 50%, #775218 100%);
            font-weight: 600;
            font-size: 12px;
            border-radius: 5px;
            background-position: center;
            transition: .6s;
            background-size: 200px;
          }
        }
      }
    }
    .cuatrotarjetas {
      position: relative;
      height: auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;

      .tarjeta-peque {
        display: inline-block;
        height: 219px;
        width: 50%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
          .contenedor-contenido-servicio-cuatro-tarjeta{
            height: 200px;
            transition: 0.5s;
          }
        }

        &::after{
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          height: 105%;
          width: 105%;
          transform: translate(-50%,-50%);
          text-align: center;
          background-color: rgba(0,0,0,.7);
          padding: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .contenedor-contenido-servicio-cuatro-tarjeta {
            bottom: 10px;
            padding: 20px;
            position: absolute;
            color: white;
            text-align: left;
            width: 22vw;
            z-index: 9;
            overflow: hidden;
            height: 65px;
            transition: 0.5s;

          .contenedor-title-peque{
            position: relative;

            .contenedortitle-peque {
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase;
            
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 118px;
                height: 4px;
                background: linear-gradient(to right, #775218 0%, #d0a238 50%, #775218 100%);
              }
            }
          }
          .extracto-tarjeta-peque{
            line-height: 1.2;
            font-size: 12px;
            padding-bottom: 11px;
            padding-top: 20px;
          }
          .contenedor-boton-tarjeta-peque{
            position: relative;

            .boton-tarjeta-peque{
              padding: 2px 14px;
              color: white;
              background: linear-gradient(to right, #775218 0%, #d0a238 50%, #775218 100%);
              font-weight: 600;
              font-size: 12px;
              border-radius: 5px;
              background-position: center;
              transition: .6s;
              background-size: 200px;
            }
          }
        }
      }
    }
  }
  .contenedor-boton-vermas{
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;

    .boton-vermas{
      padding: 6px 15px;
      color: black;
      background: white;
      font-weight: 600;
      font-size: 15px;
      border-radius: 5px;
      background-position: center;
      transition: .5s;

      &:hover{
        background: $amarillo;
        color: white;
        transition: 0.5s;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contenedor-padre-nuestros-servicios {
    .contenedor-padre-tarjetas-servicios{
      .tarjeta-grande {
        padding: 30px;
        height: 600px;
        &::before{
          height: 600px;
        }
      }
    }
  } 
  .cuatrotarjetas {
    .tarjeta-peque {
      height: 300px !important;
      .contenedor-contenido-servicio-cuatro-tarjeta {
        height: 130px !important;
        .extracto-tarjeta-peque{
          display: none;
        }
        .contenedor-boton-tarjeta-peque{
          margin-top: 20px;
        }
      } 
    }
  }
}
@media only screen and (max-width: 876px) {
  .contenedor-padre-nuestros-servicios {
    .contenedor-padre-tarjetas-servicios{
      .tarjeta-grande {
        height: 500px !important;
        .contenedor-contenido-servicio{
          height: 120px !important;
          .extracto-tarjeta-grande{
            display: none;
          }
          .contenedor-boton-tarjeta{
            margin-top: 35px;
          }
        } 
        &::before{
          height: 500px;
        }
        .contenedor-contenido-servicio {
          width: 320px !important;
        }
      }
    } 
  }
  .cuatrotarjetas {
    .tarjeta-peque {

      height: 250px !important;

      .contenedor-contenido-servicio-cuatro-tarjeta {
        bottom: 30px !important;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .contenedor-title-nuestro-servicios{
    padding-bottom: 10px;
    h2 {
      font-size: 25px !important;
    }
    p {
      font-size: 12px !important;
    }
  } 
  .contenedor-padre-nuestros-servicios {
    .contenedor-padre-tarjetas-servicios{
      .tarjeta-grande {
        height: 300px !important;
      }
    } 
  }
  .cuatrotarjetas {
    .tarjeta-peque {
      height: 250 !important;
      .contenedor-contenido-servicio-cuatro-tarjeta {
        .contenedor-title-peque{
          .contenedortitle-peque::after {
            display: block;
          }
        }
        .contenedor-boton-tarjeta-peque{
          display: block;
        }
      }
      .contenedor-contenido-servicio-cuatro-tarjeta {
        width: auto !important;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .cuatrotarjetas {
    .tarjeta-peque {
      .contenedor-contenido-servicio-cuatro-tarjeta {
        height: 110px !important;
        .extracto-tarjeta-peque{
          display: none;
        }
      }
    }
  }
}
