/** Colors */
$primary:               #525ddc;

/** Box Model  */
$spacer:                2rem;
$gris: #474747;
$negro: #1d1d1f;
$dorado: #775218;
$amarillo: #d0a338;
$degradado-amarillo: linear-gradient(to right, #775218 0%, #d0a238 50%, #775218 100%);
$degradado-gris: linear-gradient(to right, rgba(29,29,31,1) 0%, rgba(71,71,71,1) 50%, rgba(29,29,31,1) 100%);
